body {
    background-color: beige;
}

.red {
    color: orangered;
}

.black {
    color: black;
}

.content {
    display: block;
    margin: auto;
    background-color: lightgreen;
    border: 5px solid black;
    border-radius: 10px;
    width: 70%;
    box-shadow: 5px 8px #888888;
}

.header {
    overflow: hidden;
    background-color: lightseagreen;
    padding: 10px 10px 18px 10px;
    border: black 4px solid;
    border-radius: 10px;
    box-shadow: 5px 8px #888888;
    position: relative;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.logo {
    font-size: 25px;
    font-weight: bold;
    float: left;
}

.header a:hover {
    background-color: rgb(22, 133, 128);
    color: black;
}

.header a.active {
    background-color: rgb(22, 133, 128);
    color: white;
}

.header-right {
    float: right;
    position: absolute;
    right: 10px;
    top: 20px;
}

.nameInput {
    margin-left: 10px;
}

.inputs {
    display: flex;
    justify-content: space-between;
    margin-left: 110px;
    margin-right: 110px;
}

.greetMe {
    text-align: center;
}

.display {
    text-align: center;
    border: 3px solid black;
    border-radius: 6px;
    margin: 0 5px 5px 5px;
}

.inputCounter {
    text-align: center; 
    display: flex; 
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

.btn {
    background-color: lightgreen;
    border: 3px solid black;
    border-radius: 6px;
    padding: 5px;
    color: black;
    text-decoration: none;
}

.btn:hover {
    background-color: rgb(96, 187, 96);
}

.reset {
    width: 70%;
    margin-top: 5px;
}

.greeted {
    background-color: lightgreen;
    border: 3px solid black;
    border-radius: 6px;
    padding: 5px;
    margin: 10px;
    list-style: none;
    box-shadow: 5px 8px  #888888;
}

.greeted li {
    text-align: center;
    margin: 20px 0px 15px 0px;
    box-shadow: none;
}

.greeted a {
    color: black;
    text-decoration: none;
    box-shadow: none;
}

.greeted a:hover {
    background-color: rgb(97, 172, 97);
}

.greetedname {
    background-color: lightgreen;
    border: 3px solid black;
    border-radius: 6px;
    margin: 15px;
    padding: 10px;
    box-shadow: 5px 8px  #888888;
}

@media(min-width: 1100px){
    .inputs {
        margin-left: 220px;
        margin-right: 220px;
    }

    .inputCounter {
        margin-left: 250px;
        margin-right: 250px;
    }
}

@media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
      float: none;
    }
  }